<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/inscripcion']">Inscripcion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/buscar']">Buscar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/rubros']">Buscar por Rubro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/municipio']">Buscar por Municipio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/tabla']">Actividad por Rubro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/componentes']">Componentes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/login']">Salir</a>
  </li>
</ul>

<section class="container-fluid" style="margin-bottom: 5%;">
  <!-- Modal Ingresar Municipio -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal">Alerta!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Ingrese primero el municipio.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <h2>
    <strong>Buscar por municipio y por rubro</strong>
  </h2>

  <div class="form-group col-12 col-md-6 col-sm-12">
    <p>
      <strong>Seleccione el Municipio.</strong>
    </p>
    <select class="form-control" name="selectMunicipio" id="selectMunicipio" [(ngModel)]="selectMunicipio">
      <!--<option [value]="elegir" selected>Elegir un Municipio ...</option>-->
      <option *ngFor="let selectMunicipio of municipios" [value]="selectMunicipio">{{selectMunicipio}}</option>
    </select>
  </div>
  <div class="form-group col-12 col-md-6 col-sm-12">
    <p>
      <strong>Seleccione el rubro.</strong>
    </p>
    <select class="form-control" name="selectRubro" id="selectRubro" [(ngModel)]="selectRubro">
      <!--<option [value]="elegir" selected>Elegir el rubro ...</option>-->
      <option *ngFor="let selectRubro of rubros" [value]="selectRubro">{{selectRubro}}</option>
    </select>
    <button class="btn btn-primary btn-busqueda" (click)="buscarMunicipio(selectMunicipio,selectRubro)">Buscar</button>
  </div>
  <div>
    <p [hidden]="mostrarPublicacion" style="color:red">
      <strong>Existe {{countMunicipio.count}} UPES en el municipio de {{tipoMunicipio}}</strong>
    </p>
  </div>

  <table class="table table-bordered" id="myTable">
    <thead style="text-align: center;">
      <tr>
        <th scope="col" class="estilo-tabla estilo-grupo">Nombre</th>
        <th scope="col" class="estilo-tabla estilo-grupo">CI</th>
        <th scope="col" class="estilo-tabla estilo-grupo">Domicilio</th>
        <th scope="col" class="estilo-tabla estilo-grupo">Zona</th>
        <th scope="col" class="estilo-tabla estilo-grupo">Municipio</th>
        <th scope="col" class="estilo-tabla estilo-grupo">Rubro</th>
        <th scope="col" class="estilo-tabla estilo-grupo">Detalle Actividad</th>
        <th scope="col" class="estilo-tabla estilo-grupo">Licencia Alcaldia</th>
        <th scope="col" class="estilo-tabla estilo-grupo">Senasag</th>
        <th scope="col" class="estilo-tabla estilo-grupo">AFP</th>
        <th scope="col" class="estilo-tabla estilo-grupo">Caja de Salud</th>
        <th scope="col" class="estilo-tabla estilo-grupo">Nit</th>
        <th scope="col" class="estilo-tabla estilo-grupo">Fundaempresa</th>
        <th scope="col" class="estilo-tabla estilo-grupo">Ninguno</th>
        <th scope="col" class="estilo-tabla estilo-grupo">Norma</th>
        <th scope="col" class="estilo-tabla estilo-grupo">Detalle Norma</th>
        <th scope="col" class="estilo-tabla estilo-grupo">Componente 1</th>
        <th scope="col" class="estilo-tabla estilo-grupo">Componente 2</th>
        <th scope="col" class="estilo-tabla estilo-grupo">Componente 3</th>
        <th scope="col" class="estilo-tabla estilo-grupo">Unidades/Año</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of municipio">
        <th scope="row" class="estilo-tabla">{{item.solicitante}}</th>
        <td class="estilo-tabla">{{item.ci}}</td>
        <td class="estilo-tabla">{{item.direccion}}</td>
        <td class="estilo-tabla">{{item.zona}}</td>
        <td class="estilo-tabla">{{item.municipio}}</td>
        <td class="estilo-tabla">{{item.actividadPrincipal}}</td>
        <td class="estilo-tabla">{{item.descripcionActividad}}</td>
        <td class="estilo-tabla">{{item.licenciAlcaldia}}</td>
        <td class="estilo-tabla">{{item.senasag}}</td>
        <td class="estilo-tabla">{{item.afp}}</td>
        <td class="estilo-tabla">{{item.cajaSalud}}</td>
        <td class="estilo-tabla">{{item.nit}}</td>
        <td class="estilo-tabla">{{item.fundaempresa}}</td>
        <td class="estilo-tabla">{{item.ninguno}}</td>
        <td class="estilo-tabla">{{item.norma}}</td>
        <td class="estilo-tabla">{{item.detalleNorma}}</td>
        <td class="estilo-tabla">{{item.aperturaMercado}}</td>
        <td class="estilo-tabla">{{item.apolloServFinanciero}}</td>
        <td class="estilo-tabla">{{item.capaciAsitenciaTecni}}</td>
        <td class="estilo-tabla">{{item.cantidadProducida}}</td>
      </tr>
    </tbody>
  </table>
  <div class="" style="margin-top: 2%; margin-bottom: 3%;">
    <a href="#" id="test" (click)="fnExcelReport()" class="btn-descarga">Descargar</a>
  </div>
</section>