<section>
  <div class="container-fluid" >
    <div class="row col-md-12 col-sm-12 justify-content-md-center">
      <div class="card card-login">
        <div class="card-body">
          <h3 class="card-title title">Login</h3>
          <form (ngSubmit)="onSubmit()" #fromlogin="ngForm" autocomplete="off" validate>
            <div class="from-group">
              <label for="usuario">Usuario</label>
              <input class="form-control" type="text" name="usuario" id="usuario" [(ngModel)]="login.usuario" required/>
            </div>
            <div class="from-group">
              <label for="contrasenia">Contaseña</label>
              <input class="form-control" type="password" name="contrasenia" id="contrasenia" [(ngModel)]="login.contrasenia"  required/>
            </div>
            <button class="btn btn-success btn-login" type="submit" data-toggle="modal" >Entrar</button>
          </form>

        </div>  
      </div>
    </div>
  </div>   
    <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Alerta!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Ingrese Usuario y Password
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</section>


