<div id="printSection" class="container-fluid" style="margin-bottom: 5%; margin-top: 2%;">
  <div class="scroll">
    <table class="table table-bordered" id="myTable">
      <thead style="text-align: center;">
        <tr>
          <th scope="col" class="estilo-tabla estilo-grupo">Nombre</th>
          <th scope="col" class="estilo-tabla estilo-grupo">CI</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Domicilio</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Zona</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Municipio</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Rubro</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Detalle Actividad</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Licencia Alcaldia</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Senasag</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Nit</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Fundaempresa</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Senapi</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Ninguno</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Norma</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Detalle Norma</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Componente 1</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Componente 2</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Componente 3</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Unidades/Año</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let metal of metales">
          <th scope="row" class="estilo-tabla">{{metal.solicitante}}</th>
          <td class="estilo-tabla">{{metal.ci}}</td>
          <td class="estilo-tabla">{{metal.direccion}}</td>
          <td class="estilo-tabla">{{metal.zona}}</td>
          <td class="estilo-tabla">{{metal.municipio}}</td>
          <td class="estilo-tabla">{{metal.actividadPrincipal}}</td>
          <td class="estilo-tabla">{{metal.descripcionActividad}}</td>
          <td class="estilo-tabla">{{metal.licenciAlcaldia}}</td>
          <td class="estilo-tabla">{{metal.senasag}}</td>
          <td class="estilo-tabla">{{metal.nit}}</td>
          <td class="estilo-tabla">{{metal.fundaempresa}}</td>
          <td class="estilo-tabla">{{metal.senapi}}</td>
          <td class="estilo-tabla">{{metal.ninguno}}</td>
          <td class="estilo-tabla">{{metal.norma}}</td>
          <td class="estilo-tabla">{{metal.detalleNorma}}</td>
          <td class="estilo-tabla">{{metal.aperturaMercado}}</td>
          <td class="estilo-tabla">{{metal.apolloServFinanciero}}</td>
          <td class="estilo-tabla">{{metal.capaciAsitenciaTecni}}</td>
          <td class="estilo-tabla">{{metal.cantidadProducida}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="" style="margin-top: 1%;">
    <input type="button" (click)="print()" value="Imprimir" class="btn-table" />
    <a href="#" id="metal" (click)="fnExcelReport()" class="btn-descarga">Descargar</a>
  </div>
</div>