
.header{
    background-color: #00174c;
    width: 100%;
}

.titulo{
    color: yellow;
    padding-bottom: 2%;
}

.logo_header{
    padding-top: 2%;
    width: 15%;
    padding-bottom: 1%;
}

.logo_header_energia{
    padding-top: 3%;
    width: 17%;
    padding-bottom: 1%;
}
