<!--The content below is only a placeholder and can be replaced.-->

<header class="container-fluid header" style="text-align:center">
  <img class="logo_header rounded float-left" src="../../assets/img/LOGO_GOBERNACION.png" alt="GOBERNACION">
  <img class="logo_header " src="../../assets/img/LOGO_UPES.png" alt="UPES">
  <img class="logo_header_energia rounded float-right" src="../../assets/img/logo DDHIE.png" alt="UPES">

  <h1 class="titulo">{{titulo}}</h1>
</header>

<!--<ap-login></ap-login>-->
<body>
  <router-outlet></router-outlet>
</body>
