<!--The content below is only a placeholder and can be replaced.-->

<header class="container-fluid header" style="text-align:center">
  <img class="logo_header rounded float-left" src="{{logoGobernacion}}" alt="GOBERNACION">
  <img class="logo_header " src="{{logoUpes}}" alt="UPES">
  <img class="logo_header_energia rounded float-right" src="{{logoDDHIE}}" alt="DDHIE">

  <h1 class="titulo">{{titulo}}</h1>
</header>

<!--<ap-login></ap-login>-->

<body>
  <router-outlet></router-outlet>
</body>