<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " [routerLink]="['/inscripcion']">Inscripcion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " [routerLink]="['/buscar']">Buscar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/rubros']">Buscar por Rubro</a>
  </li>
  <li class="nav-item">
		<a class="nav-link" [routerLink]="['/municipio']">Buscar por Municipio</a>
	</li>
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/tabla']">Actividad por Rubro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/login']">Salir</a>
  </li>
</ul>


<!--<div class="col-md-12 row">
    <div class="nav flex-column nav-pills col-md-2 col-sm-12" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" [routerLink]="['textil']" role="tab" aria-controls="v-pills-home" aria-selected="true">Textil</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" [routerLink]="['madera']" role="tab" aria-controls="v-pills-profile" aria-selected="false">Madera</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" [routerLink]="['cuero']" role="tab" aria-controls="v-pills-messages" aria-selected="false">Cuero</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" [routerLink]="['alimentos']" role="tab" aria-controls="v-pills-settings" aria-selected="false">Alimentos y Bebidas</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" [routerLink]="['metal']" role="tab" aria-controls="v-pills-messages" aria-selected="false">Metal Mecánica</a>        
      </div>
    <div class="tab-content col-md-8 col-sm-12" id="v-pills-tabContent">
      <router-outlet></router-outlet>
    </div>
  </div>-->

<ul class="nav nav-tabs sub-menu">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['textil']">Textil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['madera']">Madera</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['cuero']">Cuero</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['alimentos']">Alimentos y Bebidas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['metal']">Metal Mecánica</a>
  </li>
</ul>

<section class="section">
  <router-outlet></router-outlet>
</section>