<div id="printSection" class="container-fluid" style="margin-bottom: 5%;">
  <h2>
    <strong>Apoyo para el Acceso a Servicios Financieros</strong>
  </h2>
  <div class="scroll">
    <table class="table table-bordered " id="myTable">
      <thead style="text-align: center;">
        <tr>
          <th scope="col" class="estilo-tabla estilo-grupo">Codigo</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Nombre</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Rubro</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Gestion</th>          
          <th scope="col" class="estilo-tabla estilo-grupo">Taller Educativo Financiero</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Fecha Concluida</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Información Crediticia</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Fecha Concluida</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Asesoramiento y Seguimiento</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Fecha Concluida</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Monto</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Entidad Financiera</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Observaciónes</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Municipio</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Nombre de la Empresa</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let componente of componentes">
          <td scope="row" class="estilo-tabla">{{componente.codigo}}</td>
          <td class="estilo-tabla">{{componente.solicitante}}</td>
          <td class="estilo-tabla">{{componente.actividadPrincipal}}</td>
          <td class="estilo-tabla">{{componente.gestion | date:'M/d/yy'}}</td>          
          <td class="estilo-tabla">{{componente.tallerEducativoFinaciero}}</td>
          <td class="estilo-tabla">{{componente.fechaConclucionTaller | date:'M/d/yy'}}</td>
          <td class="estilo-tabla">{{componente.informacionCrediticia }}</td>
          <td class="estilo-tabla">{{componente.fechaConclucionInforma | date:'M/d/yy' }}</td>
          <td class="estilo-tabla">{{componente.asesoramientoSeguimiento }}</td>
          <td class="estilo-tabla">{{componente.fechaConclucionAsesor | date:'M/d/yy' }}</td>
          <td class="estilo-tabla">{{componente.monto }}</td>
          <td class="estilo-tabla">{{componente.entidadFinanciera }}</td>
          <td class="estilo-tabla">{{componente.observaciones }}</td>
          <td class="estilo-tabla">{{componente.municipio}}</td>
          <td class="estilo-tabla">{{componente.nombreEmpresa}}</td>
          <td class="estilo-tabla">
            <button class="btn btn-secondary" (click)="editar(componente.id)">editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin-top: 2%; margin-bottom: 3%; ">
    <!--<input type="button" (click)="print()" value="Imprimir" class="btn-table" />-->
    <a href="#" id="componente" (click)="fnExcelReport()" class="btn-descarga">Descargar</a>
  </div>
</div>