<div id="printSection" class="container-fluid" style="margin-bottom: 5%; margin-top: 2%;">

  <div class="scroll">
    <table class="table table-bordered" id="myTable">
      <thead style="text-align: center;">
        <tr>
          <th scope="col" class="estilo-tabla estilo-grupo">Nombre</th>
          <th scope="col" class="estilo-tabla estilo-grupo">CI</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Domicilio</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Zona</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Municipio</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Rubro</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Detalle Actividad</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Licencia Alcaldia</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Senasag</th>
          <th scope="col" class="estilo-tabla estilo-grupo">AFP</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Caja de Salud</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Nit</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Fundaempresa</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Ninguno</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Norma</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Detalle Norma</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Componente 1</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Componente 2</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Componente 3</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Unidades/Año</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alimento of alimentos">
          <th scope="row" class="estilo-tabla">{{alimento.solicitante}}</th>
          <td class="estilo-tabla">{{alimento.ci}}</td>
          <td class="estilo-tabla">{{alimento.direccion}}</td>
          <td class="estilo-tabla">{{alimento.zona}}</td>
          <td class="estilo-tabla">{{alimento.municipio}}</td>
          <td class="estilo-tabla">{{alimento.actividadPrincipal}}</td>
          <td class="estilo-tabla">{{alimento.descripcionActividad}}</td>
          <td class="estilo-tabla">{{alimento.licenciAlcaldia}}</td>
          <td class="estilo-tabla">{{alimento.senasag}}</td>
          <td class="estilo-tabla">{{alimento.afp}}</td>
          <td class="estilo-tabla">{{alimento.cajaSalud}}</td>
          <td class="estilo-tabla">{{alimento.nit}}</td>
          <td class="estilo-tabla">{{alimento.fundaempresa}}</td>
          <td class="estilo-tabla">{{alimento.ninguno}}</td>
          <td class="estilo-tabla">{{alimento.norma}}</td>
          <td class="estilo-tabla">{{alimento.detalleNorma}}</td>
          <td class="estilo-tabla">{{alimento.aperturaMercado}}</td>
          <td class="estilo-tabla">{{alimento.apolloServFinanciero}}</td>
          <td class="estilo-tabla">{{alimento.capaciAsitenciaTecni}}</td>
          <td class="estilo-tabla">{{alimento.cantidadProducida}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="" style="margin-top: 1%;">
    <input type="button" (click)="print()" value="Imprimir" class="btn-table" />
    <a href="#" id="alimento" (click)="fnExcelReport()" class="btn-descarga">Descargar</a>
    <!-- <button href="#" id="alimento" (click)="fnExcelReport()" class="btn-table">Descargar</button> -->
  </div>
</div>