<div class="container-fluid" style="margin-bottom: 5%;">
  <h2>
    <strong>Asistencia Técnica y Capacitación</strong>
  </h2>
  <div class="scroll">
    <table class="table table-bordered " id="myTable">
      <thead style="text-align: center;">
        <tr>
          <th colspan="" class="estilo-tabla estilo-grupo"></th>
          <th colspan="" class="estilo-tabla estilo-grupo"></th>
          <th colspan="" class="estilo-tabla estilo-grupo"></th>

          <th colspan="" class="estilo-tabla estilo-grupo"></th>          

          <th colspan="" class="estilo-tabla estilo-grupo"></th>
          <th colspan="" class="estilo-tabla estilo-grupo"></th>
          <th colspan="4" class="estilo-tabla estilo-grupo">Gestion Empresarial</th>

          <th colspan="" class="estilo-tabla estilo-grupo"></th>

          <th colspan="4" class="estilo-tabla estilo-grupo">Programas Informaticos</th>

          <th colspan="4" class="estilo-tabla estilo-grupo">Asistencia Técnica y Capacitación</th>

          <th colspan="3" class="estilo-tabla estilo-grupo">Capacitaciones</th>

          <th colspan="" class="estilo-tabla estilo-grupo"></th>

          <th colspan="7" class="estilo-tabla estilo-grupo">Formalización de la Empresa</th>

          <th colspan="" class="estilo-tabla estilo-grupo"></th>
          <th colspan="" class="estilo-tabla estilo-grupo"></th>
          <th colspan="" class="estilo-tabla estilo-grupo"></th>
          <th colspan="" class="estilo-tabla estilo-grupo"></th>
        </tr>

        <tr>
          <th scope="col" class="estilo-tabla">Codigo</th>
          <th scope="col" class="estilo-tabla">Nombre</th>
          <th scope="col" class="estilo-tabla">Rubro</th>

          <th scope="col" class="estilo-tabla">Gestion</th>                    

          <th scope="col" class="estilo-tabla">Formación Academica</th>

         <th scope="col" class="estilo-tabla">Cantidad de Cursos Realizados</th>

          <th scope="col" class="estilo-tabla">Costos</th>
          <th scope="col" class="estilo-tabla">Marketing</th>
          <th scope="col" class="estilo-tabla">Administración</th>
          <th scope="col" class="estilo-tabla">Plan de Negocios</th>

          <th scope="col" class="estilo-tabla">Certificaciones</th>

          <th scope="col" class="estilo-tabla">Excel</th>
          <th scope="col" class="estilo-tabla">Word</th>
          <th scope="col" class="estilo-tabla">Power Point</th>
          <th scope="col" class="estilo-tabla">Otros</th>

          <th scope="col" class="estilo-tabla">Serigrafia</th>
          <th scope="col" class="estilo-tabla">Patronaje</th>
          <th scope="col" class="estilo-tabla">Bordado</th>
          <th scope="col" class="estilo-tabla">Acabado en Muebles</th>

          <th scope="col" class="estilo-tabla">Inocuidad Alimentaria/BPM</th>
          <th scope="col" class="estilo-tabla">Seguridad Industrial</th>
          <th scope="col" class="estilo-tabla">Salud Ocupacional</th>

          <th scope="col" class="estilo-tabla">Cursos Solicitados</th>

          <th scope="col" class="estilo-tabla">FUNDAEMPRESA</th>
          <th scope="col" class="estilo-tabla">NIT</th>
          <th scope="col" class="estilo-tabla">LICENCIA ALCALDIA</th>
          <th scope="col" class="estilo-tabla">SENASAG</th>
          <th scope="col" class="estilo-tabla">SENAPI</th>
          <th scope="col" class="estilo-tabla">MINISTERIO DE TRABAJO</th>
          <th scope="col" class="estilo-tabla">PERSONERIA JURIDICA</th>

          <th scope="col" class="estilo-tabla">Fecha Realizada</th>
          <th scope="col" class="estilo-tabla">Municipio</th>
          <th scope="col" class="estilo-tabla">Nombre de la Empresa</th>
          <th scope="col" class="estilo-tabla">Editar</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let componente of componentes">
              <td scope="row" class="estilo-tabla">{{componente.codigo}}</td>
              <td class="estilo-tabla">{{componente.solicitante}}</td>
              <td class="estilo-tabla">{{componente.actividadPrincipal}}</td>

              <td class="estilo-tabla">{{componente.gestion | date:'M/d/yy'}}</td>          

              <td class="estilo-tabla">{{componente.formacionAcademica}}</td>
    
             <td class="estilo-tabla">{{componente.cantidadCursosRealizados}}</td>
    
              <td class="estilo-tabla">{{componente.costos}}</td>
              <td class="estilo-tabla">{{componente.marketing}}</td>
              <td class="estilo-tabla">{{componente.administracion}}</td>
              <td class="estilo-tabla">{{componente.planNegocios}}</td>
    
              <td class="estilo-tabla">{{componente.certificados}}</td>
    
              <td class="estilo-tabla">{{componente.excel}}</td>
              <td class="estilo-tabla">{{componente.word}}</td>
              <td class="estilo-tabla">{{componente.powerPoint}}</td>
              <td class="estilo-tabla">{{componente.otros }}</td>
    
              <td class="estilo-tabla">{{componente.serigrafia}}</td>
              <td class="estilo-tabla">{{componente.patronaje}}</td>
              <td class="estilo-tabla">{{componente.bordado}}</td>
              <td class="estilo-tabla">{{componente.acabadoMuebles}}</td>
    
              <td class="estilo-tabla">{{componente.inocuidadAlimenticia}}</td>
              <td class="estilo-tabla">{{componente.seguridadIndustrial}}</td>
              <td class="estilo-tabla">{{componente.saludOcupacional}}</td>
    
              <td class="estilo-tabla">{{componente.SolicitudCursos }}</td>
    
              <td class="estilo-tabla">{{componente.fundaempresa}}</td>
              <td class="estilo-tabla">{{componente.nit}}</td>
              <td class="estilo-tabla">{{componente.licenciaAlcaldia}}</td>
              <td class="estilo-tabla">{{componente.senasag}}</td>
              <td class="estilo-tabla">{{componente.senapi}}</td>
              <td class="estilo-tabla">{{componente.ministerioTrabajo}}</td>
              <td class="estilo-tabla">{{componente.personeriaJuridica}}</td>
    
              <td class="estilo-tabla">{{componente.fechaRealizada | date:'M/d/yy' }}</td>
              <td class="estilo-tabla">{{componente.municipio}}</td>
              <td class="estilo-tabla">{{componente.nombreEmpresa}}</td>
              <td class="estilo-tabla">
                <button class="btn btn-secondary" (click)="editar(componente.id)">editar</button>
              </td>
            </tr>
      </tbody>
    </table>
  </div>
  <div style="margin-top: 2%; margin-bottom: 3%; ">
    <a href="#" id="test" (click)="fnExcelReport()" class="btn-descarga">Descargar</a>
   
  </div>
</div>