<div id="printSection" class="container-fluid" style="margin-bottom: 5%; margin-top: 2%;">

  <div class="scroll">
    <table class="table table-bordered" id="myTable">
      <thead style="text-align: center;">
        <tr>
          <th scope="col" class="estilo-tabla estilo-grupo">Nombre</th>
          <th scope="col" class="estilo-tabla estilo-grupo">CI</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Domicilio</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Zona</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Municipio</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Rubro</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Detalle Actividad</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Licencia Alcaldia</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Senasag</th>
          <th scope="col" class="estilo-tabla estilo-grupo">AFP</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Caja de Salud</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Nit</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Fundaempresa</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Ninguno</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Norma</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Detalle Norma</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Componente 1</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Componente 2</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Componente 3</th>
          <th scope="col">Unidades/Año</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let madera of maderas">
          <th scope="row" class="estilo-tabla">{{madera.solicitante}}</th>
          <td class="estilo-tabla">{{madera.ci}}</td>
          <td class="estilo-tabla">{{madera.direccion}}</td>
          <td class="estilo-tabla">{{madera.zona}}</td>
          <td class="estilo-tabla">{{madera.municipio}}</td>
          <td class="estilo-tabla">{{madera.actividadPrincipal}}</td>
          <td class="estilo-tabla">{{madera.descripcionActividad}}</td>
          <td class="estilo-tabla">{{madera.licenciAlcaldia}}</td>
          <td class="estilo-tabla">{{madera.senasag}}</td>
          <td class="estilo-tabla">{{madera.afp}}</td>
          <td class="estilo-tabla">{{madera.cajaSalud}}</td>
          <td class="estilo-tabla">{{madera.nit}}</td>
          <td class="estilo-tabla">{{madera.fundaempresa}}</td>
          <td class="estilo-tabla">{{madera.ninguno}}</td>
          <td class="estilo-tabla">{{madera.norma}}</td>
          <td class="estilo-tabla">{{madera.detalleNorma}}</td>
          <td class="estilo-tabla">{{madera.aperturaMercado}}</td>
          <td class="estilo-tabla">{{madera.apolloServFinanciero}}</td>
          <td class="estilo-tabla">{{madera.capaciAsitenciaTecni}}</td>
          <td class="estilo-tabla">{{madera.cantidadProducida}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="" style="margin-top: 1%;">
    <input type="button" (click)="print()" value="Imprimir" class="btn-table" />
    <a href="#" id="madera" (click)="fnExcelReport()" class="btn-descarga">Descargar</a>
  </div>
</div>