<div id="printSection" class="container-fluid" style="margin-bottom: 5%;">
  <table class="table table-responsive">
      <thead style="text-align: center;">
        <tr >
          <th scope="col" class="estilo-tabla">Nombre</th>
          <th scope="col" class="estilo-tabla">CI</th>
          <th scope="col" class="estilo-tabla">Domicilio</th>
          <th scope="col" class="estilo-tabla">Zona</th>
          <th scope="col" class="estilo-tabla">Municipio</th>
          <th scope="col" class="estilo-tabla">Rubro</th>
          <th scope="col" class="estilo-tabla">Detalle Actividad</th>
          <th scope="col" class="estilo-tabla">Licencia Alcaldia</th>
          <th scope="col" class="estilo-tabla">Senasag</th>
          <th scope="col" class="estilo-tabla">AFP</th>
          <th scope="col" class="estilo-tabla">Caja de Salud</th>
          <th scope="col" class="estilo-tabla">Nit</th>
          <th scope="col" class="estilo-tabla">Fundaempresa</th>
          <th scope="col" class="estilo-tabla">Ninguno</th>
          <th scope="col" class="estilo-tabla">Norma</th>
          <th scope="col" class="estilo-tabla">Detalle Norma</th>
          <th scope="col" class="estilo-tabla">Componente 1</th>
          <th scope="col" class="estilo-tabla">Componente 2</th>
          <th scope="col" class="estilo-tabla">Componente 3</th>
          <th scope="col" class="estilo-tabla">Unidades/Año</th>           
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cuero of cueros">
          <th scope="row">{{cuero.solicitante}}</th>
          <td>{{cuero.ci}}</td>
          <td>{{cuero.direccion}}</td>
          <td>{{cuero.zona}}</td>
          <td>{{cuero.municipio}}</td>
          <td>{{cuero.actividadPrincipal}}</td>
          <td>{{cuero.descripcionActividad}}</td>
          <td>{{cuero.licenciAlcaldia}}</td>
          <td>{{cuero.senasag}}</td>
          <td>{{cuero.afp}}</td>
          <td>{{cuero.cajaSalud}}</td>
          <td>{{cuero.nit}}</td>
          <td>{{cuero.fundaempresa}}</td>
          <td>{{cuero.ninguno}}</td>
          <td>{{cuero.norma}}</td>
          <td>{{cuero.detalleNorma}}</td>
          <td>{{cuero.aperturaMercado}}</td>
          <td>{{cuero.apolloServFinanciero}}</td>
          <td>{{cuero.capaciAsitenciaTecni}}</td>
          <td>{{cuero.cantidadProducida}}</td>         
        </tr>
      </tbody>
    </table>
    <input type="button" (click)="print()" value="Imprimir" class="btn-table"/>  
    
    <a href="#" id="cuero" (click)="fnExcelReport()" class="btn-descarga">Descargar</a>     
  </div>
  