<div id="printSection" class="container-fluid" style="margin-bottom: 5%; margin-top: 2%;">

  <div class="scroll">
    <table class="table table-bordered">
      <thead style="text-align: center;">
        <tr>
          <th scope="col" class="estilo-tabla estilo-grupo">Nombre</th>
          <th scope="col" class="estilo-tabla estilo-grupo">CI</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Domicilio</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Zona</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Municipio</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Rubro</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Detalle Actividad</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Licencia Alcaldia</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Senasag</th>
          <th scope="col" class="estilo-tabla estilo-grupo">AFP</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Caja de Salud</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Nit</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Fundaempresa</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Ninguno</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Norma</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Detalle Norma</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Componente 1</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Componente 2</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Componente 3</th>
          <th scope="col" class="estilo-tabla estilo-grupo">Unidades/Año</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cuero of cueros">
          <th scope="row">{{cuero.solicitante}}</th>
          <td>{{cuero.ci}}</td>
          <td>{{cuero.direccion}}</td>
          <td>{{cuero.zona}}</td>
          <td>{{cuero.municipio}}</td>
          <td>{{cuero.actividadPrincipal}}</td>
          <td>{{cuero.descripcionActividad}}</td>
          <td>{{cuero.licenciAlcaldia}}</td>
          <td>{{cuero.senasag}}</td>
          <td>{{cuero.afp}}</td>
          <td>{{cuero.cajaSalud}}</td>
          <td>{{cuero.nit}}</td>
          <td>{{cuero.fundaempresa}}</td>
          <td>{{cuero.ninguno}}</td>
          <td>{{cuero.norma}}</td>
          <td>{{cuero.detalleNorma}}</td>
          <td>{{cuero.aperturaMercado}}</td>
          <td>{{cuero.apolloServFinanciero}}</td>
          <td>{{cuero.capaciAsitenciaTecni}}</td>
          <td>{{cuero.cantidadProducida}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="" style="margin-top: 1%;">
    <input type="button" (click)="print()" value="Imprimir" class="btn-table" />
    <a href="#" id="cuero" (click)="fnExcelReport()" class="btn-descarga">Descargar</a>
  </div>
</div>